[user]
    name = Jordan Lord
    email = me@jordanlord.co.uk
    signingkey = 275F7C952170FDC0

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.gitignore

[diff]
    tool = vimdiff

[includeIf "gitdir:~/workspace/simium/"]
    path = ~/.gitconfig-simium
